body{
	width:100%;
	background: #efefe0;
}

div#page{
	width: 976px;
	margin: 0 auto;
  box-shadow: 0 0 10px 10px #666;
  background: white;

}

#header{
	height: 150px;
	background-image: -webkit-gradient(
		  linear,
		  left bottom,
		  left top,
		  color-stop(0.14, rgb(33,90,107)),
		  color-stop(0.57, rgb(14,66,66))
	);
	background-image: -moz-linear-gradient(
		  center bottom,
		  rgb(33,90,107) 14%,
		  rgb(14,66,66) 57%
	);
}

#header header{
	height: 110px;
	position: relative;
}

#header header h1{
font-family: 'Varela Round', sans-serif;
	font-size: 24px;
	color: white;
	margin: 10px;
}

#header header h1:before {
	content: "\2022";
	font-size: 210px;
	position: absolute;
	bottom: -98px;
	left: -29px;
	font-family: 'Varela Round', sans-serif;
	color: white;
	opacity: 0.2;
}

#header header h1 a {
	color: white;
	text-decoration: none;
}

#header header h2 {
	display:none;
}

#header #nav{
	height: 40px;
}

#header #user_info{
	font-family: 'Istok Web', sans-serif;
	font-size: 14px;
	float:right;
	margin: 20px 20px 0 0;
	padding: 10px 25px;
	min-height: 60px;
	background-image: -webkit-gradient(
		  linear,
		  left bottom,
		  left top,
		  color-stop(0.14, rgb(255,255,255)),
		  color-stop(0.57, rgb(222,222,222))
	);
	background-image: -moz-linear-gradient(
		  center bottom,
		  rgb(255,255,255) 14%,
		  rgb(222,222,222) 57%
	);
	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#header #user_info span{
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

#header #user_info img{
	display: inline-block;
}

.menu ul{
    margin: 0; 
    padding: 0;
    float: left;
}
 
.menu ul li{
    display: inline;
}
 
.menu ul li a{
    float: left; 
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; }
 
.menu ul li a:visited{
    color: white;}
 
.menu ul li a:hover, 
.menu ul li.current a{
    color: #fff;
    background-color:#0b75b2;
}

.menu ul li a:hover{
	border-bottom: 3px #0f0 solid;
	margin-bottom: -3px;
}

#header #nav ul li.current a{ 
	border-bottom: 3px red solid;
	margin-bottom: -3px;
}


#content{
	border-top: solid 20px #419AAB;
}

#idea_container div{
	padding: 20px;
}

#idea_type_container div{
	padding: 20px;
}


.idea{
	border: 1px black solid;
	margin: 10px;
}
