html{
  background-color: #F7F3D7;
}

body{
	width:100%;
	background-color: #F7F3D7;
}

div#page{
	width: 940px;
	margin: 0 auto 20px;
  box-shadow: 0 0 5px 5px #666;
  background: #FcFcF6;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 4px solid #333;
}

#content_container{
	border-top: solid 12px #419AAB;
  -moz-border-radius: 9px;
  border-radius: 9px;
}


#content_container #content{
  border: 5px solid #BBB;
  margin: 10px 0px 10px 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: white;
  width: 660px;
}

#content_container #sidebar{
  width: 250px;
}

#content_container #sidebar>div{
  border: 2px solid #BBB;
  margin: 10px 0px 10px 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: white;
  padding: 10px;
}

#header{
	height: 164px;
	background-image: -webkit-gradient(
		  linear,
		  left bottom,
		  left top,
		  color-stop(0.14, rgb(33,90,107)),
		  color-stop(0.57, rgb(14,66,66))
	);
	background-image: -moz-linear-gradient(
		  center bottom,
		  rgb(33,90,107) 14%,
		  rgb(14,66,66) 57%
	);
	-moz-border-radius: 15px;
  border-radius: 15px;
  border: 4px solid #333;
  margin: 15px auto;
  width: 940px;
}


#header header{
	height: 60px;
	position: relative;
}

#header header h1{
font-family: 'Varela Round', sans-serif;
	font-size: 22px;
	line-height: 20px;
	color: white;
	margin: 10px;
}

#header header h1 a {
	color: white;
	text-decoration: none;
}

#header header h2 {
	display:none;
}

#header #nav .menu{
  margin: 59px 18px 0 0;
	height: 40px;
	float: right;
	vertical-align: bottom;
}

#footer .columns h4{
  margin: 10px;
}

p#user_info{
  float:right;
  width: auto;
	font-family: 'Istok Web', sans-serif;
	font-size: 14px;
	margin: 12px 0 0 0;
	min-height: 60px;
}

p#user_info span{
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

p#user_info img{
	display: inline-block;
}

.menu ul{
    margin: 0; 
    padding: 0;
    float: left;
}
 
.menu ul li{
    display: inline;
}
 
.menu ul li a{
    float: right; 
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #333; }
 
.menu ul li a:visited{
    color: white;}
 
.menu ul li a:hover, 
.menu ul li.current a{
    color: #fff;
    background-color:#0b75b2;
}

.menu ul li a:hover{
	border-bottom: 3px #0f0 solid;
	margin-bottom: -3px;
}

#header #nav ul li.current a{ 
	border-bottom: 3px red solid;
	margin-bottom: -3px;
}

#idea_container div{
	padding: 20px;
}

#idea_type_container div{
	padding: 20px;
}


.idea{
	margin: 10px;
}

form fieldset.bigger{
  margin-top: 20px;
}

form fieldset.bigger legend{
  margin-left: 180px;
}

.bigger label{
  width:160px;
}

form .bigger div.input{
  margin-left: 180px;
}

form .bigger .input-xxlarge, 
form .bigger input.xxlarge, 
form .bigger textarea.xxlarge, 
form .bigger select.xxlarge {
  width: 400px;
  overflow: hidden;
  margin-bottom: 10px;
}

.bigger div.actions{
  background: #FBFBF4;
  margin-right: 80px;
  padding: 10px;
  position: relative;
  border-top: 5px solid #BBB;
  border-bottom: 5px solid #BBB;
  border-right: 5px solid #BBB;
  -moz-border-top-right-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  -moz-border-bottom-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  margin-left: -5px;
}

.bigger div.actions input.btn.primary{
  float: right;
}

.clear{
  clear:both;
}

div#flash_notice.alert-message.success{
  margin: 5px 10px;
}