/***********
Variables
***********/


@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/min";

$experimental-support-for-svg: true; /* SVG graduebt support for IE9 and Opera */
$lightblue:#bae4f0;
$darkblue:#1092c6;
$lightyellow:#fbf9eb;
$lighteryellow:#fdfdf9;
$lightgrey: #e6e6e6;
$page_width:950px;
$header_font_family:Verdana, Geneva, sans-serif;
$body_font_family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;


/************
Application
************/

html, body{
  height: 100%;
  background-color: $darkblue;
}

body{
  @include background-image(linear-gradient($lightblue 250px, $darkblue));
  background-color: $darkblue;
  font-family: $body_font_family;
  font-size: 13px;
  line-height: 14px;
}

.container {
  width: $page_width;
  margin: 0 auto;
}

.fieldset { 
  border-top: 1px solid #ddd; 
  margin-top: 7px; 
  width: 500px;
  h3 { 
    margin-left: 30px;
    span { 
      font-size: 12px; 
      color: #999;
      display: inline; 
      padding: 0 10px; 
      position: relative; top: -11px; 
      &.active{background-color: $lightyellow;}
    }
  }
}


.circle_base {
  @include border-radius(999px);
}

#header-wrapper {
  position: relative;
  color: white;
  height: 65px;
  background-color:$darkblue;
  $default-box-shadow-blur:15px;
  @include single-box-shadow;
  a {
    text-decoration:none;
    font-weight:bold;
    &:hover{text-decoration:underline;}
    &:visited{color: white;}
  }
  #header{
    background: transparent;
    position: relative;
    height: 60px;
    font-family: $header_font_family;
    #logo{
      float:left;
      width: 300px;
      height: 40px;
      margin-top: 17px;
      h1{
        a { 
          color: white;
          font-size: 24px; 
          span { font-size: 12px;}
        }
      }
    }
    #menu{
      position: absolute;
      right: 200px;
      bottom: 0;
      a{float:right;}
      img.user_image{float:right;}
      #user_info_container{
        position: relative;
        height: 50px;
        #user_info{
          text-align: right;
          position: absolute;
          right: 60px;
          bottom: 0;
          &.logged_in{
            font-size: 14px;
            line-height: 16px;
          }
          &.signin{bottom: 3px;}
          a{white-space:nowrap;}
        }
      }
    }
    #filter{
      position: absolute;
      width: 150px;
      height: 35px;
      text-align: center;
      background-color:$lightblue;
      right: 0;
      bottom: -20px;
      padding-top: 10px;
      font-size: 16px;
      @include border-top-left-radius(10px);
      @include border-top-right-radius(10px);
      a{color:$darkblue;}
      @include transition-property(background);
      @include transition-duration(.5s);
      @include transition-timing-function(ease-in);
      &.active{background-color:$lightyellow;}
    }
  }
}

#filter_list{
  display: none;
  background-color: $lightyellow;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: -20px;
  @include clearfix;
  $default-box-shadow-h-offset: 10px;
  $default-box-shadow-inset:inset;
  @include single-box-shadow;
  #parks_filter{
    display: block;
    height:30px;
    margin-bottom: 20px;
    ul{
      &.parks{
        display: inline;
        @include horizontal-list;
      }
      &.idea_types{
        width: 100px;
        border-left: solid 1px #ddd;
        float:right;
        padding-left: 20px;
      }
    }
  }
  #areas_filter{
    ul{
      @include horizontal-list;
    }
  }
  #attractions_filter{
    ul{
      @include horizontal-list;
    }
  }
}

#main_content_wrapper{
  padding-top: 20px;
}


/**********
Idea Partial
**********/
.idea{
  position: relative;
  .vote_info{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15%;
    height: 100%;
    vertical-align: middle;
    .total_votes{
      background-color: white;
      width: 85px;
      height: 85px;
      position: absolute;
      top: 30px;
      left: 15px;
    }
    .left_ear{
      background-color: white;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0px;
      left:0;
    }
    .right_ear{
      background-color: white;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0px;
      left:75px;
    }
  }
  .idea_info{
    width:85%-10px;
    margin: 10px 0 0 15%;
    overflow: hidden;
    background-color: transparent;
    position: relative; 
    h2{
      font-family: $header_font_family;
      font-size: 18px;
      width: 100%-20px;
      background-color: $lightyellow;
      height: 18px;
      padding: 8px 20px 6px;   
      border-left: 3px black solid;
      border-right: 3px black solid;
      border-top: 3px black solid;
      @include border-top-right-radius(15px); 
      @include border-top-left-radius(15px);
    }
    .owner_options{
      position: absolute;
      top: 8px;
      right: 10px;
    }
    .idea_desc{
      background-color: white;
      padding: 10px;
      border-left: 3px black solid;
      border-right: 3px black solid;
    }
    .idea_footer{
      padding: 10px;
      background-color: $lightgrey;
      border-left: 3px black solid;
      border-right: 3px black solid;
      border-bottom: 3px black solid;
      @include border-bottom-right-radius(15px); 
      @include border-bottom-left-radius(15px); 
      @include clearfix;
      div{ 
        float:left;
        margin-right: 10px;
      }
    }
  }
}

.comment_children{
  margin-left: 5px;
}